.App {
  text-align: center;
}

.numbers {
  display: flex;
  justify-content: center;
}

.number {
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.changeBtn {
  margin-top: 100px;
}

.changeBtn {
  padding: 10px 30px;
  font-size: 22px;
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.num-wrap {
  display: flex;
  justify-content: center;
}